NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_ROOT_DOMAIN=ecomlabs.online
NEXT_PUBLIC_APP_DOMAIN=app.ecomlabs.online
NEXT_PUBLIC_PUBLIC_DOMAINS=ecomlabs.online,www.ecomlabs.online
NEXT_PUBLIC_APP_NAME=EcomLabs
NEXT_PUBLIC_ENABLE_REGISTRATION=true
NEXT_PUBLIC_DEFAULT_LOCALE=fr-DZ
NEXT_PUBLIC_DEFAULT_CURRENCY=DZD
NEXT_PUBLIC_SITE_URL=http://localhost:3000
